<div *ngIf = "FirstPost">
  <p>{{FirstPost.title}}</p>
  <p>{{FirstPost.content}}</p>
  <form [formGroup] = "updatePostForm" (ngSubmit)="updatePost()">
    <div class="form-group">
        <label for="updatePostTitle">Title</label>
        <input
            formControlName = "title"
            id = "updatePostTitle"
            type="text" 
            class="form-control"
        >
            <div *ngIf = "title.touched && title.invalid" class="alert alert-danger">
                <div *ngIf = "title.errors.required"> Title is Required!</div>
                <div *ngIf = "title.errors.maxlength">Title Shouldn't be this long!</div>
            </div>
    </div>
    <br>
    <div class="formgroup">
        <label for="updatePostContent">Content</label>
        <textarea 
          formControlName = "content" 
          id="updatePostContent" 
          cols="30" 
          rows="10"
        >
          {{FirstPost.content}}
        </textarea>
          <div *ngIf = "content.touched && content.invalid" class="alert alert-danger">
              Content is required!
          </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Update-Post</button>
  </form>

<hr>
<p>This is to delete post number {{FirstPost.id}}</p>
<button 
(click) = "deleteOnePost()"
class="btn btn-danger">Delete</button>

</div>