<div class="col-md-4"></div>
 
<div class="col-md-4">
  <div *ngIf = "authservice.isLoggedIn()">
    <form [formGroup]="form" (ngSubmit) = "ask()">

      <h2 class="form-signin- headging">Ask A Question?</h2>
      <hr>

      <div class="form-group">
        <label for="about">Topic</label> 
        <input 
          formControlName="about"
          id="about"
          type="text"
          class="form-control"
        >
        <div
          *ngIf = "about.touched && about.invalid"
          class="alert alert-danger">Topic is Required!
        </div>
      </div>

      <div class="form-group"> 
        <label for="content">Your Question</label>
        <textarea 
        formControlName = "content" 
          id="content" 
          cols="10" 
          rows="5"
          class="form-control"
          >
        </textarea>
        <div
          *ngIf = "content.touched && content.invalid"
          class="alert alert-danger">Content is Required!
        </div>
      </div>
      <br>
      <button class="btn btn-primary btn-block " [disabled]="form.invalid" type="submit">Ask</button>
      <br>
    </form>
  </div>
  <div *ngIf = "!authservice.isLoggedIn()" >
    <p>You Are not currently logged In or you session has expired</p>
    <a routerLink="login">Login Again</a>
  </div>
</div>

<div class="col-md-4"></div>

