<div class="col-2"></div>
<div class="col-4">
  <form [formGroup] = "postForm" (ngSubmit)="post()">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input
            formControlName = "title"
            id = "postTitle"
            type="text" 
            class="form-control">
            <div *ngIf = "title.touched && title.invalid" class="alert alert-danger">
                <div *ngIf = "title.errors.required"> Title is Required!</div>
                <div *ngIf = "title.errors.maxlength">Title Shouldn't be this long!</div>
            </div>
    </div>
    <br>
    <div class="formgroup">
        <label for="PostContent">Content</label>
        <textarea 
          formControlName = "content" 
          id="PostContent" 
          cols="30" 
          rows="10"
        >
        </textarea>
          <div *ngIf = "content.touched && content.invalid" class="alert alert-danger">
              Content is required!
          </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Post</button>
  </form>
</div>
<br>
<div class="col-4">
<p>This is the newly created form content!</p>
<p
  *ngIf = "singlePost"
>
  {{singlePost.title}}
  <br>
  {{singlePost.content}}
</p>

</div>